.card-container{
    width: 20%;
    margin: 10px 25px;
    padding: 2px 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card-container:hover{
    box-shadow: 0 16px 24px 0 rgba(0,0,0,0.2);
}
.card-container img{
    width: 100%;
    height: 150px;
}
.product-name{
    text-align: center;
}
.product-size{
    text-align: center;
    margin: 0 auto;
}
.product-prize{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
@media (max-width:300px){
    .card-container{
        width: 90%;
        margin: 5px 5%;
    }
}
@media (min-width:300px) and (max-width:600px){
    .card-container{
        width: 40%;
        margin: 5px 5%;
    }
    .card-container img{
        height: 100px;
    }
}
@media (min-width:601px) and (max-width:900px){
    .card-container{
        width: 25%;
    }
    .card-container img{
        height: 100px;
    }
}