.home-container{
    width: 100%;
    display: flex;
    margin: 20px 0px;
}
.home-container .left,.right{
    display: flex;
    flex: 1;
}
.home-container .right{
    flex-direction: column;
}
.home-container .left,.right{
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.home-container .left img{
    width: 80%; 
}
.home-container .right button{
    border: none;
    background-color: #05595B;
    color: white;
    padding: 4px 10px;
    margin-top: 20px;
    border-radius: 25px;
    box-shadow: -3px 6px 5px -4px rgba(0,0,0,0.75);
}
@media (max-width:600px) {
    .home-container{
        display: block;
    }
}