.product-title{
    font-size: 30px;
    width: auto;
    text-align: center;
    margin:20px 100px;
}
.product-container{
    width: 98%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 1%;
}
@media (max-width:600px) {
    .product-title{
        margin: 10px auto;
    }
}
@media (min-width:601px) and (max-width:900px){
    .product-container{
        margin: 30px 1%;
    }
}

